<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <moositemap>
            <sitemap>
                <enable>1</enable>
                <include_categories_yn>1</include_categories_yn>
                <footer>1</footer>
                <show_products>0</show_products>
            </sitemap>
        </moositemap>
    </default>
</config>
