.sitemap_wrapper {
    margin-left: -40px;
}

.sitemap_wrapper li {
    list-style-type: none;
}

.cat_parent {
    margin: 1.5em 0 0;
    border-top: 1px solid #d2d2d7;
    width: 100%;
    padding: 5px 15px 0;
}

.cat_item {
    font-size: 18px;
    font-weight: 100;
}
.cat_item .cat_item {
    line-height: 1em;
}
.cat_item .cat_item .cat_item {
    line-height: 0.9em;
    margin-top: 0.5em;
    font-size: 90%;
}

span.prod_count {
    margin-left: 10px;
    font-size: 0.7em;
    opacity: 0.5;
}

.cat_item h2,
.cat_item h3 {
    display: inline-block;
    font-weight: 400;
    font-size: 110%;
    margin: 0;
    line-height: 50px;
}

.cms_page_list_wrapper .cms_page_label,
.add_link_list_wrapper .link_list_label {
    color: #006bb4;
    margin: 1.5em 0 0;
    border-top: 1px solid #d2d2d7;
    width: 100%;
    padding: 5px 15px 0;
}

.cms_page_list_wrapper .cms_page_label span,
.add_link_list_wrapper .link_list_label span {
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    line-height: 50px;
}

.cms_page_list_wrapper .cms_page_label li,
.add_link_list_wrapper .link_list_label li  {
    font-size: 18px;
    font-weight: 100;
}

.cms_page_list_wrapper .page_link,
.add_link_list_wrapper .add_link {
    font-size: 18px;
    font-weight: 100;
}
