.page-main>.page-title-wrapper .page-title {
    font-size: 27px;
    margin: 35px 0 0;
    color: #333 !important;
}

@media screen and (max-width: 1024px) {
    .page-main>.page-title-wrapper .page-title {
        margin: 20px 0 20px;
    }

    .sitemap_wrapper {
        column-count: 1;
    }

    .cat_parent {
        border-top: 1px solid #d2d2d7;
    }

    .add_link_list_wrapper .link_list_label {
        border-top: 1px solid #d2d2d7;
    }

    .cat_item h2,
    .cat_item h3 {
        margin: 0;
        line-height: 50px;
    }

    .cat_parent {
        padding: 5px 15px 0;
    }
}

@media screen and (min-width: 1025px) {
    .sitemap_wrapper {
        column-count: 3;
        column-gap: 40px;
    }

    .page-title-wrapper .page-title {
        width: 100%;
    }

    .page-title-wrapper .page-title span {
        width: 100%;
        display: inline-block;
    }

    .page-title-wrapper h1.page-title {
        margin-bottom: 15px;
    }

    .cat_item h2,
    .cat_item h3 {
        line-height: inherit;
        margin: 0 0 10px 0;
    }

    .cat_parent {
        padding: 0 15px 0;
    }

    .sitemap-search {
        display: inline-block;
        width: 20%;
        margin: 16px 0 0;
    }

    .page-title-wrapper {
        display: flex;
        border-bottom: 1px solid #d2d2d7;
        margin: 0 0 20px 0;
        padding-bottom: 10px;
    }
}

.sitemap_wrapper {
    margin-left: -40px;
}

.sitemap_wrapper li {
    list-style-type: none;
}

.cat_parent {
    width: 100%;
}

.cat_item {
    font-size: 18px;
    font-weight: 100;
}

.cat_item .cat_item {
    line-height: 1em;
}

.cat_item .cat_item .cat_item {
    line-height: 0.9em;
    margin-top: 0.5em;
    font-size: 90%;
}

span.prod_count {
    margin-left: 10px;
    font-size: 0.7em;
    opacity: 0.5;
}

.cat_item h2,
.cat_item h3 {
    display: inline-block;
    font-weight: 400;
    font-size: 110%;
}

.add_link_list_wrapper .link_list_label {
    color: #006bb4;
    margin: 1.5em 0 0;
    width: 100%;
    padding: 5px 15px 0;
}

.add_link_list_wrapper .link_list_label span {
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    line-height: 50px;
}

.add_link_list_wrapper .link_list_label li {
    font-size: 18px;
    font-weight: 100;
}

.add_link_list_wrapper .add_link {
    font-size: 18px;
    font-weight: 100;
}

.sitemap_wrapper .prod_count.not-found,
.sitemap_wrapper .cat-name.not-found {
    display: none;
}